<launch>

    <!-- Create a fixed TF transform for map object -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_fixed" args="0 0 0 0 0 0 map odom 100" />

    <!-- Start octomap server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.1" />

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="odom" />

        <param name="sensor_model/max_range" value="125.0" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/velodyne_points" />
    </node>
</launch>