<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="/use_sim_time" value="true"/>

    <!-- Parse LaserScan -->
    <include file="$(find magni_octonav)/launch/vlp16_laserscan.launch" />
    
    <!-- gmapping needs odometry inputs -->
    <include file="$(find magni_octonav)/launch/localization.launch"/>

    <!-- Load move_base node -->
    <include file="$(find magni_octonav)/launch/move_base.launch" />
    
    <!-- Load gmapping -->
    <include file="$(find magni_octonav)/launch/gmapping.launch" />
    

</launch>