<?xml version="1.0" encoding="UTF-8"?> 
<launch>

    <arg name="nav_type" default="static" />

    <!-- Launch SLAM node -->
    <include file="$(find magni_octonav)/launch/vlp_graph_slam.launch" />


    <!-- Launch mapper -->
    <include file="$(find magni_octonav)/launch/octomapping.launch" />

    <!-- Load move_base node -->
    <include file="$(find magni_octonav)/launch/move_base.launch">
        <arg name="move_base_type" value="$(arg nav_type)" />
    </include>

    <include file="$(find cpu_monitor)/launch/cpu_monitor.launch"/>
    
</launch>